*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background:#eee;
    font-family:sans-serif;
}

#barX {
    background: #66ff33;
    left: 0;
    top:  0;
    position: absolute;
    width: 1px;
    height: 100%;
    z-index: 1000;
}

#barY {
    background: #66ff33;
    left: 0;
    top:  0;
    position: absolute;
    width: 100%;
    height: 1px;
    z-index: 1000;
}

.banner-area{
    width:100%;
    height:100vh;
    background-color: #000;
    background-size:cover;
}   

.banner-background {
    color: #66ff33;
    left: 0;
    top:  0;
    position: absolute;
    width: 100%;
    height: 100vh;
}

.text{
    font-family: 'Cutive Mono', monospace;
    font-size: 20px;
    color:#66ff33; 
}

.text::after {
    content: "_";
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}

.content-area{
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.content{
    text-align: center;
    z-index: 10;
}

.content h1{
    font-size:80px;
    color:#fff;
}

.content p{
    font-size:30px;
    color:#ddd;
}

.content .btn{
    border:none;
    outline:none;
    padding:15px;
    margin-top:100px;
    border-radius: 4px;
    color:#eee;
    font-size: 18px;
    cursor: pointer;    
    background:#222;             
}

/* main area */

.container {
    width: 70%;
    margin: 50px auto;
    padding: 10px;
}

.container .box {
    width: 100%;
    padding: 50px;
    background: #fff;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, .1);
}



h2{
	font-size: 7em;
	letter-spacing: 15px;
	color: #115311;
	text-transform: uppercase;
	text-align: center;
	-webkit-box-reflect : below 1px linear-gradient(transparent , #0004);
	line-height: 0.70em;
	outline: none;
	animation: animate 2s linear infinite;
}
@keyframes animate{
	0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
		color: #185311;
		text-shadow: none;
	}
	18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
		color: #fff;
		text-shadow: 0 0 10px #3bf403,
		             0 0 20px #03f403,
		             0 0 40px #0bf403,
		             0 0 80px #03f403,
		             0 0 160px #03f417;
	}
}

#fix
{
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    padding: 0;
    
    width: 100%;
    text-align: center;
}

iframe {
    display: none;
}

#text
{
    width: 700px;
    margin: auto;
    text-align: center
}

h1
{
    text-align: center;
    font-size: 100px;
    font-family: Ubuntu;
    
    margin: 0;
    padding: 0;
}

